# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# SQLite local databases & logs
*.db
*.db-journal
*.db-wal
*.db-shm

# Log files
*.log

# IDE & Editor files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.sublime-workspace
*.sublime-project

# Package archive
pensionsure_verification.zip
